*~
aclocal.m4
configure
config.h.in
stamp-h.in
Makefile.in
config.log
config.h
config.cache
config.status
stamp-h
Makefile
.deps
*.tar.gz
stamp-h1
autom4te.cache
Doxyfile
debug
gengen.kdevelop.pcs
gengen.kdevses
ylwrap
depcomp
install-sh
missing
*.lnk
config.guess
config.sub
build
