Makefile.in
Makefile
*.log
*.out
*.err_test
.deps
__temp.h
temp
test_vars.h
test_vars
gen_test_vars.cc
test_cicle.h
test_body_loop.h
test_body_loop_c.h
test_cicle
test_cicle_str
test_cicle_c
test_cicle_str_c
test_cicle2_c
test_cicle_c_cc
test_cicle_cstring
test_cicle_tabs
test_cicle_tabs_c
test_cicle_c.h
test_cicle2_c.h
test_cicle2_c.c
test_cicle_tabs.h
test_cicle_tabs_c.h
gen_test_cicle.cc
gen_test_cicle_str.cc
gen_test_cicle_c.cc
gen_test_cicle_str_c.cc
gen_test_cicle_c_cc.cc
gen_test_cicle_cstring.cc
gen_test_cicle_tabs.cc
gen_test_cicle_tabs_c.cc
gen_test_vars
gen_test_cicle
gen_test_cicle_str
gen_test_cicle_c
gen_test_cicle_str_c
gen_test_cicle_c_cc
gen_test_cicle_cstring
gen_test_cicle_tabs
gen_test_cicle_tabs_c
loop.h
test_cicle_m
gen_test_cicle_m.cc
gen_test_cicle_m
test_subst
test_subst.h
gen_test_subst
gen_test_subst.cc
gen_test_iter
gen_test_iter.cc
test_iter.h
test_iter
test_subst2_prog
test_subst2
test_subst2.h
test_subst2.cc
test1.h
test1_c.h
test1_gen
test1_gen_c
example_text.h
example_text_c.h
example_text_gen
example_text_gen_c
example_fundef.h
example_fundef_gen
valgrind_tests.sh
test_if
test_if_c
test_types
test_types_c
*.exe
valgrind_gengen_tests.sh
