Makefile.in
Makefile
.deps
gengen.html
gengen.log
gengen.dvi
gengen.aux
gengen.cp
gengen.fn
gengen.vr
gengen.tp
gengen.ky
gengen.pg
gengen.toc
gengen.cps
gengen.fns
gengen.pgs
gengen.tps
gengen.kys
*.ps
mdate-sh
texinfo.tex
*.lnk
